version: "3.9"
networks:
  80lvl-dev-network:
    external: true
services:
  twins:
    image: dockerhub.esas.by/twins:0.1.0-SNAPSHOT
    container_name: twins-core
    hostname: twins-core
    environment:
      JAVA_TOOL_OPTIONS: "
      -XX:+UseZGC 
      -XX:+ZGenerational
      -Xrunjdwp:transport=dt_socket
      -address=*:5006 
      -server=y
      -suspend=n
       "
      JAVA_OPTS: "
      -Djdk.internal.httpclient.debug=true
      "
      LOG_RQRS_LEVEL: "OFF"
      LOG_RQRS_SHORT_LEVEL: "INFO"
    volumes:
      - ./logs:/opt/twins/logs
    ports:
      - "8443:8443"
      - "5006:5006"
    restart: always
    networks:
      - 80lvl-dev-network
